<% include ../partials/header %>

<div class="container">
    <h1 class="header">Brain Dump</h1>

    <ul class="collection">
        <li class="collection-item">
            <input class="braindump" type="text" placeholder="Type here...">
        </li>
    </ul>

    <!-- Add TodoList Create Page where each item becomes a collapsible where more chunks can be added as items in the collapsible -->

    <a id="add-item" class="btn-flat waves-effect waves-light center action-button">Add Item<i class="material-icons right">add</i></a>
    <a id="submit" class="btn-flat waves-effect waves-light center action-button">Complete<i class="material-icons right">send</i></a>
</div>

<% include ../partials/footer %>