    </main>
    
    <footer class="page-footer">
        <div class="container">

        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2019 Miguel Roberts, All Rights Reserved.
            </div>
        </div>
    </footer>

    <!-- JQuery | Materialize JS | Custom JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/<%= filename %>.js"></script>
</body>
</html>