<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <!-- Google Icons Font | Materialize CSS | Custom CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/<%= filename %>.css">

</head>
<body>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><h4 class="sub-header sidenav-header center">Sidenav Placeholder</h4></li>
    </ul>

    <main>